$maroon: #C0504D;

.preview-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .prescribe-form{
        width: 100%;
        min-width: 300px;
        max-width: 815px;
    
        .header{
            text-align: center;
            width: 100%;
    
            img{
                margin-bottom: .75rem;
            }
            .doctor-details{
                display: flex;
                align-items: center;
                justify-content: center;
                
                .img{
                    margin-right: 1rem;
                    margin-bottom: 0rem;
                    width: 65px;
                    height: 65px;
                    border-radius: 100%;
                    border: 2px solid #5C97C8;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        
        .divider {
            width: 100%;
            height: 4px !important;
            margin: 1rem 0 1rem 0 !important;
            border-radius: 0px !important;
            background-color: #568DB5 !important;
            border: none !important;
        }
    
        .body{
            text-align: center;
    
            .patient-form-info{
                display: inline-block;
                width: 100%;
                max-width: 600px;
                
                .form-info{
                    margin-bottom: .5rem;
                    display: flex;
                    align-items: center;
    
                    h6, p{
                        text-align: start !important;
                        margin: 0px .75rem 0rem 0rem;
                    }
    
                    p{
                        min-width: 50px !important;
                        border-bottom: 1px black solid;
                        flex-grow: 1;
                    }
    
                }
            }
    
            .prescription{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h5{ 
                    margin-top: 1.5rem;
                    color: $darker-blue; 
                    align-self: flex-start !important;
                    max-width: 815px;
                }
    
                button{ margin-top: .5rem; }
    
                .prescription-box{
    
                    max-width: 815px;
                    width: 100%;
                    background-color: #dbdbdb;
                    border-radius: 5px;
                    padding: .25rem;
    
                    .divider-vertical{
                        height: 30px;
                        width: 2px;
                        background-color: #000;
                        margin: .5rem .2rem 0rem .2rem;
                    }
                    
                    .prescription-input{
                        display: flex;
                        flex-wrap: wrap;
    
                        input.error::placeholder, .error { color: white; }
                        .error{ background-color: rgba(255, 0, 0, 0.5) !important; }
                        
                        input, select{
                            padding: .25rem;
                            height: 35px;
                            margin-top: .5rem;
                        }
    
                        input[type=number]{
                            max-width: 100px;
                        }
                    }
    
                    .medicines{
                        display: flex;
                        h6{
                            display: flex;
                            align-items: center;
                            margin-top: .5rem;
                        }
                    }
                }
                
            }
        }
    
        .footer{
                        
            .payment{
                background-color: #D9D9D9;

                h5{ 
                    margin-top: 1.5rem;
                    color: $darker-blue; 
                    text-align: start !important;
                    width: 815px;
                }

                .signature{
                    position: relative;
                    
                    .img{
                        margin-bottom: 0.5rem;
                        max-width: 100px;
                        max-height: 100px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }

    }
    
    .lab-form{
        width: 100%;
        max-width: 1000px;
        min-width: 600px;
        
        .top-info{
            background-color: $maroon;
            color: white;
            text-align: center;
            width: 100%;
            padding: .5rem;
            border: 1px black solid;
            p{
                margin-bottom: 0px;
            }
        }

        .header{
            .patient-box{
                display: flex;
                flex-direction: column;
                border: 1px black solid;
                padding: .35rem;
                flex-grow: 1;
                p{
                    margin-bottom: 0px;
                }
                h6{
                    margin-bottom: .25rem;
                }
            }
        }

        .body{

            .content-box{
                width: 100%;

                .top-info{
                    text-transform: uppercase;
                    padding: .25rem !important;
                    h6{ margin-bottom: 0px !important; }
                }

                .info-content{
                    border: 1px black solid;
                    padding: .25rem;
                    display: flex;
                    flex-wrap: wrap;

                    .box{
                        width: 13px !important;
                        height: 13px !important;
                        background-color: white;
                        margin-right: .25rem;
                        border: #000 1px solid;
                        border-radius: 2px;
                    }

                    .checked{
                        background-color: #000 !important;
                    }

                    p{ margin-bottom: 0px ;}
                }
            }
        }
    }

}

.inquiry-page{
    background-color: #D9D9D9;
    padding: 1rem;
    overflow: auto;
    height: calc(100% - 110px);

    .inquiry-content{
        min-height: 100%;
        min-width: 450px;
        background-color: white;
        padding: 1rem;
        
        .divider {
            width: 100%;
            height: 0px;
            margin: 10px 0 10px 0;
            border-radius: 100%;
            border-top: 2px solid rgba($color: $dark-green, $alpha: .8);
        }

        .patient-box{
            display: flex;
            flex-wrap: wrap;
            

            .patient-pick{
                display: flex;
                align-items: center;
                margin-right: 1.5rem;

                h5{
                    margin: 0px 1rem 0px 0px;
                }
                .patient-dropdown{
                    
                    position: relative;
                    display: inline-block;

                    .patient-button{
                        border: 1px solid rgb(32, 32, 32);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .35rem;
                        border-radius: .5rem .5rem 0rem 0rem;
                        cursor: pointer;
    
                        h5{ 
                            margin: 0px 1.25rem 0px 0px; 
                            max-width: 350px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    

                    .patient-select{
                        width: 300px;
                        position: absolute;
                        z-index: 1;
                        max-height: 400px;
                        background-color: #f1f1f1;
                        border: 1px solid rgb(95, 94, 94);
                        box-shadow: .5rem .5rem .5rem rgba($color: #000, $alpha: .15);
                        padding: .25rem;
                        overflow-y: auto;
                        
                        .box-info, .search-bar{
                            display: flex;
                            width: 100%;
                            height: 40px;
                            align-items: center;
                        }

                        .box-info{
                            border: 1px black solid;
                            background-color: white;

                            h6{
                                margin: 0;
                                max-width: 240px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                        }

                        .search-bar{
                            margin-bottom: .5rem;
                            input[type=text], button{
                                padding: .25rem;
                                height: 100%;
                                border-radius: 0px;
                            }
                            
                            input[type=text]{
                                flex-grow: 1;
                            }

                            button{
                                border: none;
                                width: 50px;
                                background-color: white;
                            }

                            button:hover{
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }

            .patient-info{
                display: flex;
                align-items: center;

                img{
                    width: 150px;
                    height: 150px;
                    margin-right: 1.5rem;
                }
            }
        }

        .form-tab{
            margin-top: .5rem;
            width: 100%;
            display: flex;
            padding: 0rem 0rem 0rem 1rem;

            button{
                border: none;
                background-color: rgb(189, 189, 189);
                color: black;
                padding: .5rem;
                margin-bottom: .25rem;
                
            }

            .active{ 
                background-color: $dark-green !important; 
                margin-bottom: 0px !important;
                color: white !important;
            }
            button:hover{ background-color: rgba( $color: $dark-green, $alpha: .75 ); }
        }

        .form-box{
            background-color: $dark-green;
            padding: 1.5rem;

            .form-body{
                background-color: white;
                padding: 1.5rem;
                overflow-x: auto;

                .lab-form{
                    min-width: 600px;
                    
                    .top-info{
                        background-color: $maroon;
                        color: white;
                        text-align: center;
                        width: 100%;
                        padding: .5rem;
                        border: 1px black solid;
                        p{
                            margin-bottom: 0px;
                        }
                    }

                    .header{
                        .patient-box{
                            display: flex;
                            flex-direction: column;
                            border: 1px black solid;
                            padding: .35rem;
                            flex-grow: 1;
                            p{
                                margin-bottom: 0px;
                            }
                            h6{
                                margin-bottom: .25rem;
                            }
                        }
                    }

                    .body{

                        .content-box{
                            width: 100%;

                            .top-info{
                                padding: .25rem !important;
                                text-transform: uppercase;
                                h6{ margin-bottom: 0px !important; }
                            }
    
                            .info-content{
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                border: 1px black solid;
                                padding: .25rem;
                                
                            }
                        }
                    }
                }

                .prescribe-form{
                    min-width: 600px;

                    .header{
                        text-align: center;

                        img{
                            margin-bottom: .75rem;
                        }
                        .doctor-details{
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .img{
                                margin-right: 1rem;
                                margin-bottom: 0rem;
                                width: 65px;
                                height: 65px;
                                border-radius: 100%;
                                border: 2px solid #5C97C8;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                    }

                    
                    .divider {
                        width: 100%;
                        height: 4px !important;
                        margin: 1rem 0 1rem 0 !important;
                        border-radius: 0px !important;
                        background-color: #568DB5 !important;
                        border: none !important;
                    }

                    .body{
                        text-align: center;

                        .patient-form-info{
                            display: inline-block;
                            width: 600px;
                            
                            .form-info{
                                margin-bottom: .5rem;
                                display: flex;
                                align-items: center;

                                h6, p{
                                    margin: 0px .75rem 0rem 0rem;
                                }

                                p{
                                    text-align: start !important;
                                    min-width: 50px !important;
                                    border-bottom: 1px black solid;
                                    flex-grow: 1;
                                }

                            }
                        }

                        .prescription{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h5{ 
                                margin-top: 1.5rem;
                                color: $darker-blue; 
                                text-align: start !important;
                                width: 815px;
                            }

                            button{ margin-top: .5rem; }

                            .prescription-box{
                                
                                width: 815px;
                                background-color: #dbdbdb;
                                border-radius: 5px;
                                padding: .25rem;

                                .divider-vertical{
                                    height: 30px;
                                    width: 2px;
                                    background-color: #000;
                                    margin: .5rem .2rem 0rem .2rem;
                                }
                                
                                .prescription-input{
                                    display: flex;
                                    flex-wrap: wrap;

                                    input.error::placeholder, .error { color: white; }
                                    .error{ background-color: rgba(255, 0, 0, 0.5) !important; }
                                    
                                    input, select{
                                        padding: .25rem;
                                        height: 35px;
                                        margin-top: .5rem;
                                    }

                                    input[type=number]{
                                        max-width: 100px;
                                    }
                                }

                                .medicines{
                                    display: flex;
                                    h6{
                                        display: flex;
                                        align-items: center;
                                        margin-top: .5rem;
                                    }
                                }
                            }
                            
                        }
                    }

                    .footer{
                        
                        .payment{
                            background-color: #D9D9D9;
    
                            h5{ 
                                margin-top: 1.5rem;
                                color: $darker-blue; 
                                text-align: start !important;
                                width: 815px;
                            }

                            .signature{
                                position: relative;
                                
                                .img{
                                    margin-bottom: 0.5rem;
                                    width: 100px;
                                    height: 100px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                    }

                }

            }
        }
    }
}