// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

@import 'test/test.scss';

// Parts
@import 'parts/topbar.scss';
@import 'parts/sidebar.scss';

// Pages
@import 'pages/patient.scss';

.main-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .main-content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

}

.test-page, .patient-page{
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;

}