// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

@import 'test/test.scss';

// Parts
@import 'parts/topbar.scss';
@import 'parts/sidebar.scss';

// Pages
@import 'pages/patient.scss';
@import 'pages/inquiry.scss';
@import 'pages/dashboard.scss';
@import 'pages/email-verification.scss';
// @import 'pages/announcement.scss';
// @import 'pages/calendar.scss';




.text-dark-green{ color: $dark-green !important; }
.bg-dark-green{ background-color: $dark-green !important; }
.bg-dark-blue{ background-color: $darker-blue !important; }
.bg-aiai{ background-color: #a1a1a1 !important; }

.modal-head{
    button{
        border: none;
        padding: .25rem .5rem .25rem .5rem;
        background-color: transparent !important;
        color: white !important;
    }
}

.alert-top{
    position:fixed !important; 
    top: 20px !important; 
    left: 0px;
    z-index:9999 !important; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;

    .main-content{
        width: 100%;
        max-height: 100%;
        max-width: 100%;    
        overflow-y: auto;
        overflow-x: hidden;
    }

}

.test-page, .patient-page, .inquiry-page, .dashboard-page{
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    overflow-x: auto;

}

.dashboard-page::-webkit-scrollbar, .main-content::-webkit-scrollbar {
    display: none !important;
}

.login-bg {
    background: url("/img/login1.jpg"), rgba(0, 0, 0, 0.8);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

// Media Queries
@import 'responsive.scss';