// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

@import 'test/test.scss';

// Parts
@import 'parts/topbar.scss';
@import 'parts/sidebar.scss';

// Pages
<<<<<<< HEAD
<<<<<<< HEAD
@import "pages/patient.scss";
@import "pages/calendar.scss";
@import "pages/inquiry.scss";
@import "pages/announcement.scss";

.text-dark-green{ color: $dark-green !important; }

=======
@import 'pages/patient.scss';
>>>>>>> parent of 5434b79 (Polished Login)

=======
@import 'pages/patient.scss';

>>>>>>> parent of 5434b79 (Polished Login)
.main-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .main-content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

}

<<<<<<< HEAD
<<<<<<< HEAD
.test-page,
.patient-page,
.inquiry-page,
.announcement-page,
.calendar-page {
=======
.test-page, .patient-page{
>>>>>>> parent of 5434b79 (Polished Login)
=======
.test-page, .patient-page{
>>>>>>> parent of 5434b79 (Polished Login)
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;

}