

$first-breakpoint: 750px;
$second-breakpoint: 420px;


@media screen and (max-width: $first-breakpoint) {
    .topbar{
        .btn-holder{ display: block; }
    }
}

@media screen and (min-width: ($first-breakpoint + 1)) {
    .sidebar{
        width: 100px !important;
    }

    .main-page{

        .main-content{
            max-width: calc(100% - 125px) !important;
        }

    }
}

@media screen and (min-width: $second-breakpoint) and (max-width: ($first-breakpoint)) {
    .sidebar{
        position: fixed;
        width: 0px;
        margin-right: 0px;
        z-index: 99;
    }

    .main-page{

        .main-content{

            .dashboard-page{
                .manage-table{
                    .tab{
                        flex-direction: column;
                        
                        .tab-action{
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .inquiry-page{
                .inquiry-content{
                    .patient-box{
                        .patient-info{
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .horizon-group{
        flex-direction: column !important;
        
        .form-input{
            flex-direction: column !important;
            align-items: flex-start !important;
            input[type=text]{
                margin-right: 0px !important;
                width: 100% !important;
            }
        }

    }
}

@media screen and /* (min-width: $second-breakpoint)  and */ (max-width: $second-breakpoint) {
    .sidebar{
        position: fixed;
        width: 0px;
        margin-right: 0px;
        z-index: 99;

        .sidebar-setting{
            left: 0px !important;
        }
    }

    
    .main-page{

        .main-content{

            .dashboard-page{
                .manage-table{
                    .tab{
                        flex-direction: column;
                        
                        .tab-action{
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .inquiry-page{
                .inquiry-content{
                    .patient-box{
                        .patient-info{
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

