$maroon: #C0504D;

.lab-form{
    padding: .5rem;
    width: 100%;
    
    .top-info{
        background-color: $maroon;
        color: white;
        text-align: center;
        width: 100%;
        padding: .5rem;
        border: 1px black solid;
        p{
            margin-bottom: 0px;
        }
    }

    .header{
        .patient-box{
            display: flex;
            flex-direction: column;
            border: 1px black solid;
            padding: .35rem;
            flex-grow: 1;
            p{
                margin-bottom: 0px;
            }
            h6{
                margin-bottom: .25rem;
            }
        }
    }

    .body{
        display: flex;

        .content-box{
            width: 50%;

            .top-info{
                padding: .25rem !important;
                h6{ margin-bottom: 0px !important; }
            }

            .info-content{
                border: 1px black solid;
                padding: .25rem;

                .box{
                    width: 13px;
                    height: 13px;
                    background-color: white;
                    margin-right: .25rem;
                    border: #000 1px solid;
                    border-radius: 2px;
                }

                .checked{
                    background-color: #000 !important;
                }

                p{ margin-bottom: 0px ;}
            }
        }
    }
}
